.tooltip {
  position: absolute;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  border-radius: 24px;
  padding: 8px 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
   transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip span {
  position: relative;
  z-index: 1;
}

.tooltip-bottom {
  opacity: 1;
}
.tooltip-top {
  opacity: 1;
}
.tooltip-right {
  opacity: 1;
}
.tooltip-left {
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: inherit;
  transform: rotate(45deg);
}

/* Arrow pointing up (tooltip below target) */
.tooltip-bottom::after {
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* Arrow pointing down (tooltip above target) */
.tooltip-top::after {
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* Arrow pointing left (tooltip to right of target) */
.tooltip-right::after {
  left: -8px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* Arrow pointing right (tooltip to left of target) */
.tooltip-left::after {
  right: -8px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
